<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Posted</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr id="<%= dom_id(transaction) %>">
      <td>
        <%= check_box_tag "transaction_ids[]", transaction.id, nil, 
                          data: { action: "change->checkbox-select#checked",
                                  checkbox_select_target: "child" },
                                  multiple: true,
                                  class: "form-check-input", form: "destroy-multiple-form" %>
      </td>
      <td><%= transaction.posted_at %></td>
      <td><%= transaction.description %></td>
      <td>$<%= transaction.amount %></td>
      <td>
        <%= yield transaction %>                        
      </td>
    </tr>
  <% end %>
  </tbody>
</table>