<div id="<%= dom_id transaction %>">
  <p>
    <strong>Posted at:</strong>
    <%= transaction.posted_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category_id %>
  </p>

</div>
