<tr>
  <td><%= transaction.posted_at %></td>
  <td><%= transaction.description %></td>
  <td>$<%= transaction.amount %></td>
  <td>
    <div id="<%= dom_id transaction %>">
      <%= render 'category_form', transaction: transaction %>
    </div>
  </td>
</tr>