<tr>
  <td><%= transaction.posted_at %></td>
  <td><%= transaction.description %></td>
  <td>$<%= transaction.amount %></td>
  <td>
    <div data-controller="category_select" id="<%= dom_id transaction %>">
      <%= render 'transactions/category_select', transaction: transaction %>
    </div>
  </td>
</tr>