<div>
  <div class="pb-5 d-flex align-items-center justify-content-center" id="chart">
    <%= render "chart", chart_data: @chart_data %>
  </div>

  <div class="pb-5 d-flex align-items-center justify-content-center">
    <%= render "select_date_form" %>
  </div>

  <hr />
  <div data-controller="checkbox-select">
    <h2 class="pt-2">Transactions</h2>
    <div id="transaction_table">
      <%= render "shared/transaction_table", transactions: @transactions %>
    </div>

    <%= render partial: "shared/destroy_multiple_form", locals: { url: destroy_multiple_transactions_path } %>

    <div id="pagination">
      <%= render "shared/pagination", pagy: @pagy %>
    </div>
  </div>
</div>